.pagination{
  list-style: none;
  font-size: 18px;
  gap: 7px;
  text-decoration: none;
  margin: 1rem 0;
}

.pagination .page-num{
  cursor: pointer;
   list-style: none;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  padding: 8px 15px;
}

.pagination .page-num:hover{
   background-color: tomato;
   color: white;
}

.pagination .active{
   background-color: tomato;
   color: white;
}